/*# -*- coding: utf-8 -*-
"""
Created on Sat Nov 18 23:04:25 2023

@author: Danny
""" */

body {
    margin: 0;
    background: dodgerblue;
    text-align: center;
    color: #FFFFFF;
}

.container {
    width: min(90%, 1000px);
    border: 3px solid hotpink;
    margin-inline: auto;
}
.bg-gradient {
/*background: linear-gradient(#FFFFFF, #FAF9F6,dodgerblue);*/
/*border: 3px solid hotpink;*/
}

/*.nav {
   float:right;
   padding-bottom: 5vh;
}*/