body {
    background-color: #C0C2C9/*Slate Gray*/;
    margin-top: 0px;
    margin-inline: auto;
}
/*.container {
    background-color: #C0C2C9;
    margin-inline: auto;
    width: min(90%, 1500px);
    margin-top: 0px;
} */

@media all and (max-width: 500px) {
    body {
        background-color: darkgray;
        margin-left: auto;
        margin-right: auto;
        width: 100dvw;

    }

    body .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(35px, auto));
        grid-auto-rows: minmax(20px, auto);
        margin-left: 5dvw;
        margin-right: 5dvw;
        text-align: center;
        
        
    }
    body h1 {
        border-radius: 1px;
        height: 10vh;
        line-height: 3;
        margin-top: 0px;
        text-align: justify-all;
        
    }


} /* end of media query <500px */

@media all and (max-width: 400px) {
    body {
        background-color: darkgray;
        margin-left: auto;
        margin-right: auto;
        width: 100dvw;

    }

    body .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(35px, auto));
        grid-auto-rows: minmax(20px, auto);
        margin-left: 5dvw;
        margin-right: 5dvw;
        text-align: center;
        
        
    }
    body h1 {
        border-radius: 1px;
        height: 10vh;
        line-height: 1.1;
        margin-top: 0px;
        text-align: center;
        
    }
} /* end of media query <400px */

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-left: 10dvw;
  margin-right: 10dvw;
  
  /* border-style: solid;
    border-width: 3px;
    border-color: black; */
}
.one {
  grid-column: 1 / 2;
  grid-row: 1;
}
.two {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}
.three {
  grid-column: 3;
  grid-row: 1 / 3;
}
.four {
  grid-column: 3;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 3;
}
.six {
  grid-column: 3;
  grid-row: 4;
}

h1 {
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    overflow: hidden;
    text-align: center;
    /*border-style: solid;
    border-width: 3px;
    border-color: black;*/
    height: 10vh;
    line-height: 1.5;
    margin-top: 0px;
    /*background: linear-gradient(300deg, yellow, red);*/
    background: linear-gradient(to right,#FCAC40,#FC4A40); /*darkgray #828282 and fossil #787276*/ /*Stone #877F7D Ash Gray #544C4A*/
    /*min-height: 100%;*/
    /* #FCAC40 ORANGE #FC4A40 CHILI PEPPER */
}

h2 {
    text-align: center;
    /*border-style: solid;
    border-width: 3px;
    border-color: black;*/
    margin: 10px, 50px, 10px;
    /*width: max(90%, 800px);*/
}

h3 {
    text-align: center;
    
    /*border-style: solid;
    border-width: 3px;
    border-color: black;*/
    margin: 10px 50px 10px;
    /*width: max(90%, 800px);*/
}

/*.topnav {
    margin-top: 150px;
}*/

.topnav a{
    float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  /*margin-top: 60px;*/
}

.topnav a:hover {
    
    color: white;
  }

  .topnav a.active {
    
    color: white;
  }